* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial,helvetica,sans-serif;
    background: #1c1c1c;
    color: #cdcdcd;
    font-size: 10pt;
}

a {
    color: #6e6e95;
}

hr {
    border: 1px solid #282828;
}

#board-list {
    padding: 3px;
}

#board-list::before {
    content: "[";
}

#board-list::after {
    content: "]";
}

#board-list > a {
    text-decoration: none;
    padding: 1px;
}

#board-title {
    text-align: center;
    margin-top: 10px;
    padding: 6px;
}

.catalog-threads {
    text-align: center;
    padding: 20px 0px;
}

.catalog-thread {
    width: 270px;
    max-height: 410px;
    padding: 5px 1px 3px;
    margin-top: 5px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
}

.catalog-thread img {
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.catalog-subject {
    font-weight: bold;
}

.catalog-thread .quote {
    color: #789922;
}

.catalog-thread s {
    background-color: #000;
    color: #000;
    text-decoration: none;
}

.catalog-thread s:hover {
    color: #fff;
}