#board-title {
    text-align: center;
    margin: 12px 6px 6px;
}

.catalog-threads {
    text-align: center;
    padding: 5px 0px;
}

.catalog-thread {
    width: 270px;
    max-height: 410px;
    margin: 10px 1px 0px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
}

.catalog-thread img {
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.catalog-subject {
    font-weight: bold;
}

.catalog-thread .quote {
    color: #789922;
}

.catalog-thread s {
    background-color: #000;
    color: #000;
    text-decoration: none;
}

.catalog-thread s:hover {
    color: #fff;
}