* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#svg-defs {
    position: absolute;
}

#graph-container {
    background-color: #242424;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#graph {
    position: absolute;
}

.graph-group {
    position: absolute;
}

.graph-group > * {
    position: absolute;
}

.node {
    position: absolute;
    color: #fff;
    background-color: #111;
    border-radius: 50%;
    overflow: hidden;
    transition: border-radius 0.1s;
}

.node.image {
    background-color: #111;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    text-shadow:
        0px 0px 4px #000,  
        0px 0px 4px #000,
        0px 0px 4px #000,
        0px 0px 4px #000;
}

.node.image.expanded {
    background-size: contain;
}

.node.standalone {
    border: 3px solid #e94;
}

.node.reply {
    border: 3px solid #34a;
}

.node.op {
    border: 30px solid #fff;
}

.node-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expanded .node-content {
    justify-content: space-between;
    word-wrap: break-word;
}

.node .message {
    text-align: center;
    line-height: 125%;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 1.05em;
    width: 100%;
}

.expanded .message div {
    margin-bottom: 1.3em;
}

.expanded .message {
    text-align: left;
}

.expanded.image .message {
    padding: 1em;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.4);
}

.message a {
    pointer-events: none;
}

.node .quotelink {
    color: #ffa;
}

.node .quote {
    color: #789922;
}

.image .quote {
    color: #bb4;
}

s {
    color: #2a2a2a;
    background-color: #2a2a2a;
    text-decoration: none;
    text-shadow: none;
}

s:hover {
    color: #fff;
}

.prettyprint {
    text-align: left;
    border: medium none;
    padding: 5px;
    display: inline-block;
    max-height: 400px;
    overflow-x: auto;
    max-width: 600px;
    font-size: 14px;
}

.node .header {
    margin-bottom: 10px;
}

.node .detail {
    display: none;
    text-align: center;
    font-family: arial,helvetica,sans-serif;
    font-size: 0.88em;
    color: #fff;
}

.expanded .detail {
    display: inline;
}

.detail a {
    color: #fff;
}

.hide-content {
    border-radius: 0;
}

.hide-content .node-content {
    opacity: 0;
}

.image-link {
    padding: 10px;
}

.name-block {
    color: #4a6;
}

.post-num {
    text-decoration: none;
    font-weight: bold;
}