* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: arial,helvetica,sans-serif;
}

#loading-prompt {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#svg-defs {
    position: absolute;
}

#graph-container {
    background-color: #242424;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#graph {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}

.graph-group {
    position: absolute;
}

.graph-group > * {
    position: absolute;
}

.edge {
    pointer-events: none;
}

.edge line {
    pointer-events: auto;
}

.node {
    position: absolute;
    color: #fff;
    background-color: #111;
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
    transition: border-radius 0.1s;
}

.node-image {
    background-color: #111;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow:
        0px 0px 4px #000,  
        0px 0px 4px #000,
        0px 0px 4px #000;
}

.node-image.expanded {
    background-size: contain;
}

.node-standalone {
    border-color: #e94;
}

.node-reply {
    border-color: #34a;
}

.node-op {
    border-color: #fff;
}

.node-highlight {
    border-color: #ffa;
    box-shadow: 0 0 7px #ffa;
}

.node-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    word-wrap: break-word;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.expanded .node-content {
    justify-content: space-between;
}

.node-content > * {
    max-width: 100%;
}

.node .node-message {
    text-align: center;
}

.expanded .node-message {
    text-align: left;
    margin-bottom: 1.3em;
}

.expanded.node-image .node-message {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 1em;
}

.quotelink {
    color: #ffa;
}

.quote {
    color: #789922;
}

.node-image .quote {
    color: #bb4;
}

.node-detail {
    text-align: center;
    font-size: 0.88em;
    color: #fff;
}

.node .node-detail {
    display: none;
}

.expanded .node-detail {
    display: inline;
}

.node-detail a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.node-detail.header {
    margin-bottom: 5px;
}

.image-link {
    padding: 10px;
}

.hide-content {
    border-radius: 0;
}

.hide-content .node-content {
    opacity: 0;
}

.name-block {
    color: #4a6;
}

s {
    color: #2a2a2a;
    background-color: #2a2a2a;
    text-decoration: none;
    text-shadow: none;
}

s:hover {
    color: #fff;
}

.prettyprint {
    text-align: left;
    padding: 5px;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    font-size: 14px;
    word-wrap: normal;
    overflow: auto;
}